<?xml version="1.0"?>
<c>
	<configserver>
		<v t="ip">192.168.0.100</v>
		<v t="port">3306</v>
		<v t="user">oee</v>
		<v t="pwd">eeo</v>
		<v t="db">konfig</v>
	</configserver>
	<ip>
		<v t="ip">192.168.0.105</v>
		<v t="dhcp">0</v>
		<v t="HostName">TRNF00105</v>
		<v t="DNSS">10.254.65.36</v>
		<v t="Domain">emea.zf-world.com</v>
	</ip>
	<snmpserver>
		<v t="ip">0.0.0.0</v>
		<v t="port">0</v>
	</snmpserver>
	<hw>
		<v t="serialnr">101352707334</v>
	</hw>
</c>