<?xml version="1.0"?>
<c>
	<configserver>
		<v t="ip">10.31.32.24</v>
		<v t="port">1433</v>
		<v t="user">oee</v>
		<v t="pwd">eeo</v>
		<v t="db">konfig</v>
	</configserver>
	<ip>
		<v t="ip">0.0.0.0</v>
		<v t="dhcp">1</v>
		<v t="HostName">NULL</v>
		<v t="DNSS">10.31.60.36</v>
		<v t="Domain">emea.zf-world.com</v>
	</ip>
	<snmpserver>
		<v t="ip">0.0.0.0</v>
		<v t="port">0</v>
	</snmpserver>
	<hw>
		<v t="serialnr">0</v>
	</hw>
</c>
